
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <h2>Job Openings</h2>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>


    @using (Html.BeginForm("Index", "JobOpenings", FormMethod.Get))
    {
        <div class="container">
            <div class="form-inline">
                <div class="form-group row">
                    <label>Role</label>
                    <select name="Role" class="form-control">
                        <option value="Select">Select</option>
                        <option value="Developer">Developer</option>
                        <option value="Senior Developer">Senior Developer</option>
                        <option value="Manager">Manager</option>
                    </select>
                </div>
                <div class="form-group row" style="margin-left:20px;margin-top:20px">
                    <input type="submit" name="submit" class="btn btn-primary" value="Job Openings" />
                    <input type="submit" name="submit" class="btn btn-primary" value="Job Openings By Role" />
                </div>
            </div>
            <div class="form-group row" style="margin-top:20px">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Result != null)
                        {
                            foreach (var job in ViewBag.Result)
                            {
                                <tr><td>@job.JobName</td><td>@job.Role</td></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    }

</body>
</html>
